<%= render @beer_club %>

  <h3>confirmed members</h3>
  <p>
  <% @membership_confirmed.each do |member| %>
    <%= link_to member.user.username, member.user %>
  <% end %>
  </p>

  <% if @is_member %>
  <p>
    <h3>membership applications</h3>
    <% @membership_applied.each do |member| %>
    <div>
      <%= link_to member.user.username, member.user %>
      <%= button_to "Confirm", toggle_confirmed_membership_path(member.id), data: {turbo_method: "post"}, class: "btn btn-primary" %>
    </div>
    <% end %>
    </p>
  <% end %>

<% if current_user %>
  <% if !@beer_club.users.include? (current_user) %>
    <h4>join club:</h4>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join the beer club" %>
    <% end %>
  <% else %>
    <%= button_to("End the membership", @membership = Membership.find_by(beer_club_id: @beer_club.id, user_id: current_user.id), method: :delete, class: 'btn btn-danger') if current_user %>
  <% end %>
<% end %>  

<div>
  <%= link_to("Edit this beer club", edit_beer_club_path(@beer_club)) if current_user %>
  <%= link_to "Back to beer clubs", beer_clubs_path %>

  <%= button_to("Destroy this beer club", @beer_club, method: :delete, class: 'btn btn-danger') if current_user && current_user.admin %>
</div>
