<p style="color: green"><%= notice %></p>

<p>
    <strong>Username:</strong>
    <p> <%= @user.username %> </p>
    <%= "Has made #{pluralize(@user.ratings.count, 'rating')}, average rating #{@user.average_rating}" %>
  </p>

  <div>
    <strong>Favorite style: </strong><%= @user.favorite_style%>
  </div>

  <div>
    <strong>Favorite brewery: </strong><%= @user.favorite_brewery%>
  </div>

  <h3>member of</h3>
    <ul>
    <% @user.beer_clubs.each do |beer_club| %>
      <li id="<%= dom_id beer_club %>">
        <%= link_to beer_club.name, beer_club %>
      </li>
    <% end %>
  </ul>

  <strong>ratings</strong>
<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= "#{rating.to_s}" %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>
</ul>

<div> 
  <%= link_to "Back to users", users_path %>
  <% if @user == current_user %>
    | <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
