<p style="color: green"><%= notice %></p>

<p>
    <strong>Username:</strong>
    <p> <%= @user.username %> </p>
    <%= "Has made #{pluralize(@user.ratings.count, 'rating')}, average rating #{@user.average_rating}" %>
  </p>

  <h3>member of</h3>
    <ul>
    <% @user.beer_clubs.each do |beer_club| %>
      <li id="<%= dom_id beer_club %>">
        <%= link_to beer_club.name, beer_club %>
      </li>
    <% end %>
  </ul>

  <strong>ratings</strong>
  <p id="ratings">
  <% @user.ratings.each do |rating| %>
    <li id="<%= dom_id rating %>">
        <%= rating %> <%= button_to "Delete", rating_path(rating.id), method: :delete %>
    </li>
  <% end %>
</p>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
