<% cache @brewery do %>
<div id="<%= dom_id brewery %>">
  <h2>
    <%= link_to brewery.name, brewery %>
    <% if not brewery.active  %>
      <span class="badge bg-secondary">retired</span>
    <% end %>
  </h2>

  <p>
    Established at <%= brewery.year %>
  </p>

  <p>
    Beers count: <%= brewery.beers.count%>
  </p>

<div id="beers">
<h2>Beers</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Style</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>

    <% @brewery.beers.each do |beer| %>
      <tr id="<%= dom_id beer %>">
        <th><%= link_to beer.name, beer %></th>
        <th><%= link_to beer.style.name, beer.style %></th>
        <th><%= beer.average_rating %></th>
      </tr>
    <% end %>
  </table>
</div>

  <% if brewery.ratings.empty? %>
    brewery has not yet been rated!
  <% else %>
    Brewery has <%= pluralize(brewery.ratings.count, 'rating') %> with an average of <%= brewery.average_rating %>
  <% end %>

</div>

<% end %>