

<h1>Beers</h1>

<div id="beers">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Beer</th>
      <th scope="col">Style</th>
      <th scope="col">Brewery</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>

  <% @beers.each do |beer| %>
    <tr id="<%= dom_id beer %>">
      <th><%= link_to beer.name, beer %></th>
      <th><%= link_to beer.style.name, beer.style %></th>
      <th><%= link_to beer.brewery.name, beer.brewery %></th>
      <th><%= beer.average_rating  %></th>
    </tr>
  <% end %>
</div>
</table>

<p>
<%= link_to 'list of breweries', breweries_path %>
</p>

<%= link_to('New Beer', new_beer_path, class:'btn btn-primary') if current_user %>
